

.custom-hover {
    transition: transform 0.3s ease-in-out;
    width: 170px;
   
  }
  
  .custom-hover:hover {
    transform: scale(1.1);
   
  }
  .container{
  width: 5px;
    height: 50px;
     gap: 150px;
     margin-bottom: 200px;
  }
  .contenedor {
      display: flex;
      max-width: 90; /* Puedes ajustar este valor según tus necesidades */
      margin: 4px; /* Centrar el contenedor en la página */
    
  
  }
  
  .imagen-container {
    position: relative;
    margin-right: 20px; /* Espacio entre las imágenes */
    margin-bottom: 20px;
    flex: 1;
  }
  
  .imagen {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Cambiar el color y la opacidad según sea necesario */
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .imagen-container:hover .overlay {
    opacity: 1;
    
  }
  @media (max-width: 1105px) {
    .container {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  .FINANCIACION1{
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  }
  /* .FINANCIACION */
.financ{ 
  gap: 500%;
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  width: 800px;
  margin-left: 15%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px){
  .financ{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


}
}

.container1{
  gap: 50px;
  max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
  height: auto; /* Hace que la imagen mantenga su proporción original */
  margin-left: 15%; /* Centra la imagen ajustando automáticamente el margen izquierdo */
  margin-right: auto; /* Centra la imagen ajustando automáticamente el margen derecho */
  display: block; /* Hace que el margen izquierdo y derecho automáticos funcionen correctamente */
  margin-top: 10px;
    font-size: 14px;
    color: #333; /* Color del texto del pie de página */
}





  @media (max-width: 700px){
    .imagen-container{
      width: 100%;
      height: auto;
      display: block;
      justify-content: center;
      flex-direction: column;
    }
  }
  .titulo1{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }
  /* galeria destacada */
  body {
    font-family: Arial, sans-serif;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
  }

  .card {
    width: calc(25% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    max-width: 80%;
    max-height: 80%;
    margin: auto;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  #carousel {
    max-width: 100%;
    max-height: 100%;
  }
  /* galeria destacada */
  .galeriaDestacada{
    display: flex;
    gap: 50px;
    border: none;

  }
  @media (max-width: 500px){
.galeriaDestacada{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  }



  /* imgcostado1 */
  .costado1{
  margin: 4px;
    height: 94.5%;
    max-width: 21%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  /* carrocel3  */


  /* ficha tecnica */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .ficha-tecnica {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
  }

  .imagen-moto {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .datos-moto {
    padding: 20px;
  }

  h2 {
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }

  .descripcion {
    /* background-color: #fff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    margin-top: 20px;
    padding: 20px;
  }

  .codigo-html {
    margin-top: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
  }

  /* pie de pagina */
  body {
    margin: 0;
    padding: 0;
    gap: 30px;
}

footer {
    background-color: #0e0d0d; /* Color de fondo del pie de página */
    padding: 20px;
    text-align: center;
}

img {
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
    height: auto /* Hace que la imagen mantenga su proporción original */
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: #b00707; /* Color del texto del pie de página */
    
}
/* motos galeria */
  @media (max-width: 600px) {
    body {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }
  .body{
  max-width: 90%; /* Asegura que la imagen no se desborde del contenedor */
  height: auto; /* Hace que la imagen mantenga su proporción original */
  margin-left: 20%; /* Centra la imagen ajustando automáticamente el margen izquierdo */
  margin-right: auto; /* Centra la imagen ajustando automáticamente el margen derecho */
  display: block; /* Hace que el margen izquierdo y derecho automáticos funcionen correctamente */
}

  
.banermoto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}